*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
    background-image: url("/img/taimau_symbol_h411_opaque2.png");
    background-size: auto 800px;
    background-repeat: no-repeat;
    background-position: top;
	background-color: #FFF;
    background-attachment: fixed;
	font-family: 'Roboto','Asap', sans-serif;
	font-size: 18px;
    font-weight: bold;
    color: #000;
}

.body-darken {
    background-color: #BCB;
}

.subtitle {
	margin-top: 0;
	margin-left: 0;
	color: #9E9E9E;
}

.container {
	max-width: 92%;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
}


.form textarea.form-field{
	min-height: 200px;
}

.form .post-submit-button{
	display: inline-block;
	padding: 8px 16px;
	font-size: 18px;
	color: #FFF;
	background: #03A9F4;
	text-decoration: none;
	border-radius: 4px;
}

.form.appear {
	display: block;
}

.sidebar {
/*	background-color: rgb(243, 112, 34);  Logo orange */
	background-color: rgb(243, 155, 34);
	border-bottom: 1px solid #ccc;
}

.sidebar .sidebar-content {
	width: 100%;
	max-width: 980px;
	margin: auto;
	overflow: auto;
}

.site-title {
	font-weight: 300;
	font-size: 42px;
	float: left;
}

.site-title a{
	text-decoration: none;
	color: #FFF;
}

.add-post-button {
	display: inline-block;
    color: #FFF;
    background: #03A9F4;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 1000px;
    float: right;
}

.footer{
	text-align: center;
	padding: 25px 0;
/*	background-color: rgb(0, 88, 37);  Logo green */
/*	background-color: rgb(0, 129, 54);*/
    background-color: darkolivegreen;
    color: moccasin;
}

.footer p{
	margin: 0 0 8px 0;
	font-size: 14px;
}

.footer a{
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
}

@media (max-width: 767px){
	.add-post-button{
		float: left;
		margin-top: 16px;
	}
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.form-group {
    margin-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
}

.form-control {
    border-radius: 0px;
    padding: 6px 4px;
    font-size: 15px;
}

.cell-button {
     cursor: pointer;
    width: 30px;
}

.btn-margin {
    margin: 3px;
}

.btn-warning {
    color: #000;
}

.sidebar .btn {
    height: 30px;
    padding: 1px 4px;
}

hr {
    margin: 10px 30px;
    border-color: darkgreen;
    border-style: dashed;
}

.cell-height-min > tbody > tr > td {
    padding: 1px 12px;
}

.cell-height-min > tbody > tr:nth-child(5n) {
    background-color: #cafec7;
}

th {
    text-align: center;
    background-color: darkolivegreen;
    color: moccasin;
}

.cell-height-min > * > tr > th,td {
    text-align: center;
}

.table-hover>tbody>tr:hover {
    background-color: moccasin;
}

.table>tbody>tr>td {
    padding: 1px 3px;
}

.pieLabel {
    font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse { transition: height .3s ease-out; /*-webkit-transition: height .3s ease-out*/ }

/* styles the close button for the dismissible popovers */
.popover .close { position: absolute; top: 7px; right: 10px; }

.slow-spin {
  -webkit-animation: fa-spin 20s infinite linear;
  animation: fa-spin 20s infinite linear;
}

.btn-properties {
    color: black;
    background-color: #f0ad4e;
    border-color: #eea236;
    z-index: 0;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px black;
    transition: all .6s;
    position: relative;
}

.btn-properties:hover {
    background-color: #fae2c2;
}

.logo-style {
    position: relative;
    border-radius: 22px 50px 7px 18px;
    z-index: 2;
    box-shadow: 3px 2px 5px black;
}

.jasmine_html-reporter {
    position: relative;
    left: 200px;
}